#footer{
    background-color: #3D3A41;
    color: white;
    a{color: white;}
    span{font-size: 1rem;}
    .copy{
        position: absolute;
        left: 25%;
    }
    .activeF{
        height: 515px;
        
        .Cinfo{
            position: absolute;
            left: 25%;
            height: 500px;
            border-left: solid 1px white;
            .img_box{
                width: 300px;height: 300px; overflow:hidden
            }
            
            li{padding-right: 45px ;}
            p{line-height: 25px;}
            .copy_p{color: #ddd;}
        }
    }
}