#home{
    #header{
        width: 100vw;
        z-index: 1000;
        color: red;
        background-color: transparent;
        .logo{
            position: absolute;
            left: 43%;
        }
        
       
    }
    .swiper-pagination-bullet{background-color: rgba(255, 255, 255, 0.71);}
    .swiper-pagination-bullet-active{background-color: #fafbc1; width: 20px; transition: all 0.7s; border-radius: 30px;}
    h2{font-size: 3.5rem;}
    a{color: white;}
    #menu{
        width: 100%; height: 100vh;
        z-index: 999;
        position: fixed;
        transition: 0.5s;
        p{font-size: 1.5rem;}
        .menuT{
            position: absolute;
            top: 200px;
        }
    }
   
}
