#home{
    #header{
        width: 100vw;
        z-index: 1000;
        color: red;
        background-color: transparent;
        .logo{
            position: absolute;
            left: 43%;
        }
       
    }
    h2{font-size: 3.5rem;}
    a{color: white;}
    #menu{
        width: 100%; height: 100vh;
        z-index: 999;
        position: fixed;
        transition: 0.5s;
        p{font-size: 1.5rem;}
        .menuT{
            position: absolute;
            top: 200px;
        }
    }
   
}
