#shop{
    background: #DAD7D0;
    height: 100vh;
    padding:  200px 0;
    a{cursor: pointer;}
     img{width: 100%;}
    .slideitem{
        width: 300px;
    }
    .btn_cart{
        color: #666666;
        background: #eee;
        font-size: 25px;
        line-height: 45px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.4em;
        width: 300px;
        margin: 0 auto;
        cursor: pointer;
     }
}