#shop{
    background: #DAD7D0;
    height: 100vh;
    padding:  200px 0;
    a{cursor: pointer;}
     img{width: 100%;}
    .slideitem{
        width: 300px;
    }
    .cart{
        background: #eee;
        width: 300px;
     }
}